@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto-Bold';
  background-color: #F5F5F5;
  overflow-x: hidden;
  font-weight: bolder;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('/fonts/Roboto-Bold.ttf');
}